In [10]:
# Write a Python program to add an item in a tuple.

items = ("Python","AI","ML","NLP")
print("Items in tuple before adding a new item: ",items)
itemsList = list(items)
itemsList.append("DL")
items = tuple(itemsList)
print("\nItems in tuple after adding a new item: ",items)

Items in tuple before adding a new item:  ('Python', 'AI', 'ML', 'NLP')

Items in tuple after adding a new item:  ('Python', 'AI', 'ML', 'NLP', 'DL')

In [22]:
# Write a Python program to reverse a tuple

items = ("Python","AI","ML","NLP")
print("Items in tuple before reversing: ",items)
reverseItems = items[::-1] 
print("\nItems in tuple after reversing: ",reverseItems)

Items in tuple before reversing:  ('Python', 'AI', 'ML', 'NLP')

Items in tuple after reversing:  ('NLP', 'ML', 'AI', 'Python')

In [21]:
# Swap the following two tuples - tuple1 = (11, 22)  tuple2 = (99, 88)

tuple1 = (11, 22)  
tuple2 = (99, 88)
print("Tuples before swapping")
print("Tuple 1 :",tuple1)
print("Tuple 2 :",tuple2)
tempTuple = ()
tempTuple = tuple1
tuple1 = tuple2
tuple2 = tempTuple
print("\n\nTuples after swapping")
print("Tuple 1 :",tuple1)
print("Tuple 2 :",tuple2)

Tuples before swapping
Tuple 1 : (11, 22)
Tuple 2 : (99, 88)


Tuples after swapping
Tuple 1 : (99, 88)
Tuple 2 : (11, 22)

In [45]:
# Modify the first item (22) of a list inside a following tuple to 222 tuple1 = (11, [22, 33], 44, 55)

tuple1 = (11, [22, 33], 44, 55)
print("Tuple before change: ",tuple1)
tuple1[1][0] = 222
print("\nTuple after change: ",tuple1)

Tuple before change:  (11, [22, 33], 44, 55)

Tuple after change:  (11, [222, 33], 44, 55)

In [54]:
# Write a Python program to unpack a tuple in several variables

tupleUnpack = ('AI','ML','DL','NLP')
print("Data in the tuple: ",tupleUnpack)
varAI, varML, varDL, varNLP = tupleUnpack
print("\nFirst Value: ",varAI)
print("Second Value: ",varML)
print("Third Value: ",varDL)
print("Fourth Value: ",varNLP)

Data in the tuple:  ('AI', 'ML', 'DL', 'NLP')

First Value:  AI
Second Value:  ML
Third Value:  DL
Fourth Value:  NLP

In [68]:
# Write a Python program to add member(s) in an empty set.

newSet = set()
newSet.add("NLP")
print("New set: ",newSet)
newSet.update(["AI","ML","DL","Python"])
print("Updated set: ",newSet)

New set:  {'NLP'}
Updated set:  {'AI', 'Python', 'ML', 'DL', 'NLP'}

In [63]:
# Write a Python program to create an intersection of sets

set1 = {'17','89','30','76','23','45'}
set2 = {'76','90','51','83','99','17'}
print("Intersection of two sets: ",set1.intersection(set2))

Intersection of two sets:  {'76', '17'}

In [65]:
# Write a Python program to create a symmetric difference in sets.

set1 = {'17','89','30','76','23','45'}
set2 = {'76','90','51','83','99','17'}
print("Difference of two sets: ",set1.difference(set2))

Difference of two sets:  {'45', '30', '89', '23'}

In [67]:
# Return a set of identical items from a given two Python set
# set1 = [10, 20, 30, 40, 50]
# set2 = [30, 40, 50, 60, 70]

set1 = {'10','20','30','40','50'}
set2 = {'30','40','50','60','70'}
print("Identical items of two sets: ",set1.intersection(set2))

Identical items of two sets:  {'40', '30', '50'}

In [87]:
# Remove 10, 20, 30 elements from a following set at once
# set1 = {10, 20, 30, 40, 50}

set1 = {10, 20, 30, 40, 50}
print("Data in the set: ",set1)
set1.difference_update({10, 20, 30})
print("Data in the set after data removal: ",set1)

Data in the set:  {40, 10, 50, 20, 30}
Data in the set after data removal:  {40, 50}

In [90]:
# Access value 20 from the following tuple
# example = ("Pooja", [10, 20, 30], (25, 50, 15))

tuple1 = ("Pooja", [10, 20, 30], (25, 50, 15))
print("The tuple: ",tuple1)
newTuple = tuple1[1][1]
print("\nThe specified value: ",newTuple)

The tuple:  ('Pooja', [10, 20, 30], (25, 50, 15))

The specified value:  20

In [91]:
# Count the number of occurrences of item 50 from a tuple numbers = (50, 10, 60, 70, 50)

tupVal = (50, 10, 60, 70, 50)
print("\nNumber of occurances of 50 is ",tupVal.count(50))

Number of occurances of 50 is  2